{# -*- engine: django -*- #}
{% extends "base.html" %}

{% block content %}
  <form id="deleteform" action="{{ url_for('admin.api_delete') }}" method="POST">
    <input type="hidden" name="slug" value="{{ api.slug }}">
  </form>
  <header class="flex vcenter spacebetween">
    <h1>API {{ api.name }}</h1>
    <div class="flex vcenter">
      <a class="button" href="{{ url_for('admin.api_edit', apiuuid=api.slug) }}">
        <i class="fas fa-edit"></i>
        Modify API
      </a>
      <a class="button delete" href="#" onclick="document.getElementById('deleteform').submit()">
        <i class="fas fa-trash"></i>
        Delete API
      </a>
    </div>
  </header>
  <div class="flex vcenter">
    <p class="label marginless">Name</p>
    <p class="marginless">{{ api.name }}</p>
  </div>
  <div class="flex vcenter">
    <p class="label marginless">Type</p>
    <p class="marginless">{{ api.api_type.value }}</p>
  </div>
  <div class="flex vcenter">
    <p class="label marginless">Url</p>
    <p class="marginless">{{ api.url }}</p>
  </div>
  <hr>
  <strong>Last logs</strong>
  <code class="logs">
    {% if api.logs|length == 0 %}
      <p class="marginless">No logs</p>
    {% else %}
      {% for log in api.logs %}
        <div>
          <span>{{ log.created_at }}</span>
          <span>[{{ log.level }}]</span>
          <span>{{ log.msg }}</span>
        </div>
      {% endfor %}
    {% endif %}
  </code>
{% endblock %}
