{# -*- engine: django -*- #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Anyrepo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="main">
      <nav id="leftnav">
        <img src="{{ url_for('static', filename='logo.png') }}"
             id="logo"
             alt="logo">
        <h1>AnyRepo</h1>
        <ul class="links">
          <li>
            <a href="{{ url_for('admin.index') }}" title="Dashboard" class="flex vcenter">
              <i class="fas fa-tachometer-alt"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin.apis') }}" title="APIs" class="flex vcenter">
              <i class="fas fa-plug"></i>
              APIs
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin.hooks') }}" title="Hooks" class="flex vcenter">
              <i class="fas fa-network-wired"></i>
              Hooks
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin.users') }}" title="Users" class="flex vcenter">
              <i class="fas fa-user"></i>
              Users
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin.logout') }}" title="Logout" class="flex vcenter">
              <i class="fas fa-sign-out-alt"></i>
              Logout
            </a>
          </li>

        </ul>
      </nav>
      <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">
                  {% if category == 'error' %}
                    <i class="fas fa-times"></i>
                  {% elif category == 'success' %}
                    <i class="fas fa-check"></i>
                  {% else %}
                    <i class="fas fa-info"></i>
                  {% endif %}
                  {{ message }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
      </div>
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
