{# -*- engine: django -*- #}
{% extends "base.html" %}

{% block content %}
  <header>
    <h1>Hooks</h1>
  </header>
  {% if hooks|length == 0 %}
    <p align="center">No Hooks registered</p>
  {% else %}
    <p>You have {{ hooks|length }} registered hooks</p>
    <table class="fullwidth">
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Hook Type</th>
        </tr>
      </thead>
      <tbody>
        {% for hook in hooks %}
          <tr>
            <td>
              <a href="{{ url_for('admin.hook_detail', hookuuid=hook.slug) }}">
                {{ hostname }}{{ hook.endpoint }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('admin.hook_detail', hookuuid=hook.slug) }}">
                {{ hook.hook_type.value }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
