{# -*- engine: django -*- #}
{% extends "base.html" %}

{% block head %}
  <style lang="css">
  .icon {
    font-size: 1.5em;
    margin-right: 1em;
    border-radius: 50%;
    color: white;
    background-color: var(--primary);
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
  }
  </style>
{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  <div>
    <a href="{{ url_for('admin.apis') }}" title="APIs" class="box flex vcenter">
      <i class="fas fa-plug icon"></i>
      <p>{{ apicount }} APIs</p>
    </a>
    <a class="box flex spacebetween" href="{{ url_for('admin.hooks') }}" title="Hooks">
      <div class="flex vcenter">
        <i class="fas fa-network-wired icon"></i>
        <p>{{ hookcount }} Hooks</p>
      </div>
      <div>
        <p class="marginless error">
          {{ badrequests }}
          <i class="fas fa-times"></i>
        </p>
        <p class="marginless success">
          {{ goodrequests }}
          <i class="fas fa-check"></i>
        </p>
      </div>
    </a>
    <a href="{{ url_for('admin.users') }}" title="Users" class="box flex vcenter">
      <i class="fas fa-user icon"></i>
      <p>{{ usercount }} Users</p>
    </a>
  </div>
{% endblock %}
